<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap">
    <link rel="stylesheet" href="/public/css/index-style.css">
    <link rel="stylesheet" href="/public/css/carrito-style.css">
    <script src="https://kit.fontawesome.com/293dd8d66d.js" crossorigin="anonymous"></script>
    <title>Bolito blak - Tu carrito</title>
</head>
<body>
    <body>
        <main>
            <header class="encabezado">
                <div class="encabezado-contenedorTitulo">
                    <h2 class="encabezado-contenedorTitulo-nombre">Bolito Blak</h2>
                    <h3 class="encabezado-contenedorTitulo-ocupacion">Artista, escultor, escritor</h3>
                </div>
                <nav class="encabezado-contenedorNavbar">
                    <ul class="encabezado-contenedorNavbar-movil">
                        <li> Menú
                            <ul class="encabezado-contenedorNavbar-navbar">
                                <li><a href="/views/index.html">Quien soy</a></li>
                                <li><a href="/views/mis-obras.html">Mis obras</a></li>
                                <li><a href="/views/mis-esculturas.html">Mis esculturas</a></li>
                                <li><a href="/views/mis-escrituras.html">Mis escritos</a></li>
                                <li><a href="/views/carrito.html">Carrito</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="encabezado-redesSociales">
                    <a href="https://www.instagram.com" target="blank"><i class="fab fa-instagram"></i></a> 
                    <a href="https://www.facebook.com" target="blank"><i class="fab fa-facebook-square"></i></a> 
                </div>
            </header>
</body>
</html>