<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/index-style.css">
    <script src="https://kit.fontawesome.com/293dd8d66d.js" crossorigin="anonymous"></script>
    <title>Bolito Blak - Inicio</title>
</head>
<body>
    <main>
        <header class="encabezado">
            <div class="encabezado-contenedorTitulo">
                <h2 class="encabezado-contenedorTitulo-nombre">Bolito Blak</h2>
                <h3 class="encabezado-contenedorTitulo-ocupacion">Artista, escultor, escritor</h3>
            </div>
            <nav class="encabezado-contenedorNavbar">
                <ul class="encabezado-contenedorNavbar-movil">
                    <li> Menú
                        <ul class="encabezado-contenedorNavbar-navbar">
                            <li><a href="/views/index.html">Quien soy</a></li>
                            <li><a href="/views/mis-obras.html">Mis obras</a></li>
                            <li><a href="/views/mis-esculturas.html">Mis esculturas</a></li>
                            <li><a href="/views/mis-escrituras.html">Mis escritos</a></li>
                            <li><a href="/views/carrito.html">Carrito</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="encabezado-redesSociales">
                <a href="https://www.instagram.com" target="blank"><i class="fab fa-instagram"></i></a> 
                <a href="https://www.facebook.com" target="blank"><i class="fab fa-facebook-square"></i></a> 
            </div>
        </header>
        <section class="indexMain">
            <article class="container"> 
                <ul class="slider">
                <li id="slide1">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NeOyHWn2Uvg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </li>
                <li id="slide2">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/sunset.jpg"/>
                </li>
                <li id="slide3">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/car.jpg"/>
                </li>
                </ul>       
                <ul class="menu">
                <li>
                    <a href="#slide1"></a>
                </li>
                <li>
                    <a href="#slide2"></a>
                </li>
                <li>
                    <a href="#slide3"></a>
                </li>
                </ul>        
            </article>
            <article class="containerDescripcion">
                <h1 class="containerDescripcion-titulo">Bolito blak</h1>
                <p class="containerDescripcion-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In itaque praesentium sint ipsa earum eligendi laborum recusandae explicabo eveniet nisi! Illum officia distinctio necessitatibus error quasi dignissimos aliquid, doloribus doloremque consequatur quis!</p>
                <article class="containerContacto">
                    <i class="fab fa-whatsapp"></i>
                    <div class="containerContacto-datos">
                        <p>Contactame por whatsapp all xx-xxxx-xxxx</p>
                    </div>
                </article>
            </article>

        </section>
    </main>
</body>
</html>